/* You can add global styles to this file, and also import other style files */
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/100.css";
@import "@fontsource/quicksand/300.css";
@import "@fontsource/quicksand/500.css";
@import "@fontsource/quicksand/700.css";


body {
  /* margin: 0;  */
  font-family: 'Roboto', sans-serif !important;
  color: #24292e;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.qs {
  font-family: 'Quicksand', sans-serif;
}

.diff-color {
  background-color: #8686cd;
  color: #973e3e;
}
